Bookshelf.Api/obj/
Bookshelf.Api/bin/
Bookshelf.Domain/obj/
Bookshelf.Domain/bin/
Bookshelf.Application/obj/
Bookshelf.Application/bin/
Bookshelf.Application.Tests/obj/
Bookshelf.Application.Tests/bin/
Bookshelf.Infrastructure/obj/
Bookshelf.Infrastructure/bin/
Bookshelf.Infrastructure.Migrations/obj/
Bookshelf.Infrastructure.Migrations/bin/
Bookshelf.Infrastructure.Tests/obj/
Bookshelf.Infrastructure.Tests/bin/
Bookshelf.Client/obj/
Bookshelf.Client/bin/